<launch>

  <!-- Arguments -->
  <arg name="cmd_src" default="circle"
   description="Specifies which node publishes to the cmd_vel topic - circle, teleop, none"/>
  <arg name="robot" default="nusim"
   description="Where to launch the nodes - robot, simulator, nothing"/>
  <arg name="use_rviz" default="true"
   description="Specify if rviz needs to start - true, false"/>

  <!-- Argument to specify configuration file for simulator.
  <arg name="config_file" default="basic_world.yaml" 
   description=".yaml file to configure the simulator"/> -->

  <!-- Circle node -->
  <node pkg="nuturtle_control" exec="circle" name="circle"
        if="$(eval '\'$(var cmd_src)\' == \'circle\'')"/>

  <!-- Teleop keyboard node -->
  <node pkg="teleop_twist_keyboard" exec="teleop_twist_keyboard" name="teleop_twist_keyboard" output='screen' launch-prefix="xterm -e"
        if="$(eval '\'$(var cmd_src)\' == \'teleop\'')"/>

  <!-- cmd_src = none -->

  <!-- Nusim simulation node -->
  <node pkg="nusim" exec="nusim" name="nusim"
        if="$(eval '\'$(var robot)\' == \'nusim\'')"/>

  <!-- Localhost turtlebot3 node -->

  <!-- Turtle control node -->
  <node pkg="nuturtle_control" exec="turtle_control" name="turtle_control"/>

  <!-- Odometry node -->
  <node pkg="nuturtle_control" exec="odometry" name="odometry"/>

  <!-- Declare the RViz node and load the config file-->
  <node name="rviz2" pkg="rviz2" exec="rviz2" if="$(eval '\'$(var use_rviz)\' == \'true\'')"
        args="-d $(find-pkg-share nuturtle_control)/config/nuturtle_control.rviz"/>

</launch>